body {
  background-color: ghostwhite;
}

.main {
  display: flex;
  width: auto;
  justify-content: center;
}

.app {
  display: flex;
  margin-top: 10%;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  transition: all 0.3s ease-out;
  width: 500px;
}

.login {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  width: 50%;
}

